<app-navbar></app-navbar>
<br>
<p-toast position="top-right"></p-toast>

<div class="container">

<div class="grid">
    <div style="color:white" class="md:col-3 text-3xl font-medium mb-3">Ficha Médica</div>
    <div class="col-12 md:col-2">
        <input name="identificacion" [(ngModel)]="identificacion" pInputText
            class="text-md w-full" title="Búsqueda por No. Identificación dando clic afuera"
            placeholder="No Identificación" type="text">
    </div>
    <div class="col-12 md:col-3">
        <button type="button" class="btnCustomized px-6 py-2" (click)="saveFicha()"
            title="Búsqueda por Nombres completos">Guardar</button>
    </div>
    <app-record-voice (audioEmit)="getAudioRecorded($event)"></app-record-voice>
</div>
<hr> <br>
<div class="grid">
    <div class="col-12 md:col-2">
    </div>
    <div class="col-5"></div>
</div>
<div class="grid">

    <div class="col-12 md:col-12 subheader"> <h4>Observacion Adicional</h4></div>
    <textarea rows="3" cols="250" class="textArea" [(ngModel)]="gineco.observacionAdicional" pInputTextarea></textarea>
    <div class="col-12 md:col-12 subheader"> <h4>Resultado PAP</h4></div>
    <textarea rows="3" cols="250" class="textArea" [(ngModel)]="gineco.resultadoPap" pInputTextarea></textarea>
    <div class="col-12 md:col-12 subheader"> <h4>Resultado ecografias bilateral mamas</h4></div>
    <textarea rows="3" cols="250" class="textArea" [(ngModel)]="gineco.resultadoEcoBilateral" pInputTextarea></textarea>
    <div class="col-12 md:col-12 subheader"> <h4>Comentario y firma digital de especialista</h4></div>
    <textarea rows="3" cols="250" class="textArea" [(ngModel)]="gineco.comentario" pInputTextarea></textarea>
   
    <div style="height: 130px;"></div>

    <div class="flex flex-wrap gap-3" style="margin: auto" >
        <div class="flex align-items-center aptitud">
            <p-radioButton name="aptitud1" value="APTO" [(ngModel)]="gineco.aptitudCertificado" inputId="aptitud1"></p-radioButton>
            <label for="aptitud1" class="ml-2">APTO</label>
        </div>
        
        <div class="flex align-items-center aptitud">
            <p-radioButton name="aptitud2" value="NO APTO" [(ngModel)]="gineco.aptitudCertificado" inputId="aptitud2"></p-radioButton>
            <label for="aptitud2" class="ml-2">NO APTO</label>
        </div>
    </div>
    
</div>
</div>